<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Machine Learning Song Genre Generator</title>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <!-- Our CSS  and theme-->
  <link rel="stylesheet" type="text/css" href="static/style.css">
  

  <!-- font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">


</head>

<body>

    <div class="container">
      <div class="text-center"><h1 class="display-4">Test to read songs</h1></div>
        <div class="row">
            <!-- left side -->
          <div class="col-sm">
            <div class="jumbotron">
                
                <br>
                <!-- song input -->
            <form action="{{url_for('handledata')}}" method="POST">
                <div class="input_container">
                    <label for="date">Input a song and artist</label>
                    <input class="form-control" id="song_input" type="text" placeholder="Random Song" name="input_song">
                    <input class="form-control" id="artist_input" type="text" placeholder="Random Artist" name="input_artist">
                </div>
                
                <br>
                <!-- button -->
                <input  type="submit" > </input>
            </form>
            <br>
            </div>
          </div>

          <!-- right side -->
          <div class="col-sm">
            <div class="jumbotron"><br>
              <div class="text-center">
                <h5> {{ song_name }}</h5>
                <br>
                <h5> {{ song_name2 }}</h5>
                <br>
                <h5> {{ song_name3 }}</h5>                                
                                
              <div>             
            <div>
          </div>

        </div>
      </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Our JS -->
  <script type="text/javascript" src="templates/app.py"></script>

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>